@font-face {
    font-family: 'snap_itcregular';
    src: url('snap____-webfont.woff2') format('woff2'),
         url('snap____-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}